@charset "UTF-8";
*{margin: 0;padding: 0;}

.clearfix::after{content: ""; display:block; clear: both;}

body{
    
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 21px;
}
header{
    position: relative;
    background-color: #7E57C2; height: 50px;}
header h2{ text-align: center; color: #fff; 
    font-size: 17px;line-height: 50px;}
header img{position: absolute; top: 50%; 
    transform: translateY(-50%);}
header .menu_Icon_left{left:25px;}
header .menu_Icon_right{right:25px;}


/* Top_product */
.Top_product{
    position: relative
    ;padding: 25px 25px 0 0;}
.Top_product img{width: 350px; height: 250px;
}
.Top_product .info{
    background-color: #fff;
    position: absolute;
    left: 50px; 
    right: 0;
    bottom: -37px;
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    top: 239px;
}
.Top_product .info h2{
    font-size: 18px;
    font-weight: normal;
    line-height: 29;
    margin-bottom:-245px;
    margin-top: -231px;
color:#757575;
padding-left: 20px;}
.Top_product .desc{}
.Top_product .desc .price{
    padding-left: 20px;}
.Top_product .desc .icon{
    color: #7E57C2;
}


.shop_product{
    padding: 67px 0 0 25px;
}
.shop_product .product_list{width: 500px;}
.shop_product .product_list .slide{
    float: left;
width: 125px;
height: 168px;
margin-right: 25px;

}
.shop_product .product_list .slide img{
width: 100%;
margin-bottom: 15px;}
.shop_product .product_list .slide h3{
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 25px;
}
.shop_product .product_list .slide h4{
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #7e57c2;
}